*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.break{
    height: 200px;
    width: 200px;
    border-radius: 50px;
    background-color: red;
    animation: changecolor 200ms linear infinite ;
}
@keyframes changecolor{
    0%{
        background-color: red;
        border: salmon;
    }
    10%{
        background-color: orange;
        border-radius: none;
    }
    20%{
        background-color: yellow;
    }
    30%{
        background-color: green;
    }
    40%{
        border-radius: 30px;
        background-color: blue;
    }
    50%{
        border-radius: 20px;
        background-color: indigo;
    }
    60%{
        background-color: violet;
    }
    70%{
        height: 300px;
        background-color: crimson;
    }
    80%{
        width: 400px;
        background-color: aqua;
    }
    90%{
        border-radius: 100px;
        background-color: darkmagenta;
    }
    100%{
        background-color: pink;
    }
}